[user]
	name = yuan
	email = 481918729@qq.com
[core]
	autocrlf = true
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[credential "http://192.168.199.88:11080"]
	provider = generic
[http]
	postBuffer = 524288000
[safe]
	directory = C:/Users/ass/WeChatProjects/min
	directory = C:/Users/ass/WeChatProjects/miniprogram-1
[credential]
	helper = "!f() { /root/.vscode-server/bin/ce099c1ed25d9eb3076c11e4a280f3eb52b4fbeb/node /tmp/vscode-remote-containers-b03f44d0-9b9b-4807-9b67-daf2583d72d0.js git-credential-helper $*; }; f"
