[user]
	name = yuan
	email = 481918729@qq.com
[core]
	autocrlf = true
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[credential "http://192.168.199.88:11080"]
	provider = generic
[http]
	postBuffer = 524288000
[safe]
	directory = C:/Users/ass/WeChatProjects/min
	directory = C:/Users/ass/WeChatProjects/miniprogram-1
[credential]
	helper = "!f() { /root/.vscode-server/bin/94e8ae2b28cb5cc932b86e1070569c4463565c37/node /tmp/vscode-remote-containers-5036e012-b834-4b18-8d52-5a23bc4e1e2c.js git-credential-helper $*; }; f"
