[user]
	name = yuan
	email = 481918729@qq.com
[core]
	autocrlf = true
[difftool "sourcetree"]
	cmd = "'' "
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[credential "http://192.168.199.88:11080"]
	provider = generic
[http]
	postBuffer = 524288000
[safe]
	directory = C:/Users/ass/WeChatProjects/min
	directory = C:/Users/ass/WeChatProjects/miniprogram-1
[credential]
	helper = "!f() { /root/.vscode-server/bin/618725e67565b290ba4da6fe2d29f8fa1d4e3622/node /tmp/vscode-remote-containers-2f04ba0e-b784-4772-94cd-33805f6bf307.js git-credential-helper $*; }; f"
